@model HospitalProject.Models.DoctorDto

@{
    ViewBag.Title = "Details";
}

<a href="/Doctor/List">Go back to list</a>

<h2>@Model.DoctorFirstName @Model.DoctorLastName</h2>
<p>@Model.Department</p>
<p>@Model.DoctorEmail</p>
<p>@Model.DoctorPhone</p>


